.container {
    width:100vw;
    height:100vh;
    margin-top: 6rem;
}
.tab-container {
    width:800px;
    height:4rem;
    background:var(--dark-green);
    color:#fff;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow:0 4px 6px rgba(0,0,0,0.3);
}
.tab-item {
    height:100%;
    width: 100%;
    cursor: pointer;
}
.tab-item h1 {
    text-align: center;
    margin-left:10px;
    margin-top:20px;
}
.tab-item:hover{
    background:white;
    color:var(--dark-green);
}

.tab-body {
    width:800px;
    margin:0 auto;
}
.planets-container {
    width:800px;
    margin:0 auto;
    margin-top:20px;
}
.planet-item {
  display: flex;
  align-items: center;
  justify-content:space-around;
  margin-bottom: 20px;
  background:#faf9f9;
}
.btn {
    padding:5px 15px;
    border:0;
    outline:none;
    box-shadow:0 2px 4px rgba(0,0,0,0.12);
    cursor:pointer;
    border-radius:50px;
    font-size: 18px;
}
.btn-fav {
    color:#fff;
    background:var(--dark-green);
}
.btn-remove {
    background:var(--color-primary-dark);
    color:#fff;
}
.no-element {
    margin:0 auto;
    text-align: center;
    margin-top:20px;
    font-size:24px;
}
@media (max-width:500px) {
    .tab-container{
        width:80vw;
    }
    .planets-container {
        width:80vw;
        margin:0 auto;
        margin-top:40px;
        margin-left:40px;
    }
    .btn {
        font-size:14px;
        padding:5px 10px;
    }
    .no-element {
        font-size:24px;
        text-align: center;
        margin-left:-300px;
        margin-top:40px;
    }
}